@media all and (min-width: 576px) {
    .header__caption {
        max-width: 37rem;
    }

    .newsletter::before {
        top: 0;
        left: -48rem
    }
}

@media all and (min-width: 768px) {

    .navbar__btn,
    .nav-mobile {
        display: none;
    }

    .navbar__menu {
        display: flex;
    }

    .newsletter-content__title {
        font-size: 4rem;
        max-width: 100%;
    }

    .newsletter-content__description {
        max-width: 48rem;
    }

    .email-section__form {
        width: 100%;
    }
    
    .footer-scroll {
        right: 1.5rem;
        left: auto;
    }

    .newsletter::before {
        left: -30rem;
    }

}

@media all and (min-width: 992px) {
    .header {
        height: 100vh;
    }

    .navbar__links {
        display: flex;
    }

    .navbar__link {
        margin-left: 2rem;
    }

    .header__wrapper {
        margin-top: 14rem;
    }

    .header__title {
        font-size: 8rem;
        max-width: 56rem;
        line-height: 1.2;
    }

    .header__caption {
        max-width: 51rem;
        font-size: 1.8rem;
    }

    .header__btn {
        font-size: 1.8rem;
    }

    .service {
        width: 32rem;
    }

    .place {
        width: 32rem;
    }

    .newsletter {
        height: 40rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .newsletter-content {
        align-items: start;
        text-align: start;
        width: 50rem;
    }

    .newsletter-content__title {
        margin-top: 0;
    }

    .newsletter__banner {
        width: 46rem;
        height: 35rem;
    }

    .footer__title {
        max-width: 28rem;
    }
    .newsletter::before {
        top: -35rem;
        left: -11rem;
    }
}

@media all and (min-width: 1200px) {
    .footer-wrapper {
        flex-direction: row;
        gap: 2rem;
    }

    .footer-wrapper__left {
        max-width: 50rem;
    }

    .footer-wrapper__right {
        flex-wrap: nowrap;
    }

    .footer__service {
        width: 22rem;
    }
}


@media all and (min-width: 1400px) {
    .newsletter {
        justify-content: space-between;
        align-items: center;
    }

    .newsletter-content {
        width: 61rem;
    }

    .footer-wrapper {
        justify-content: space-between;
    }

    .footer__title {
        max-width: 50rem;
    }

    .newsletter::before {
        top: -33rem;
        left: -19rem;
    }
    
}